*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
header{
    height: 50px;
}

h1{
    margin-top: 1%;
    color: white;
    text-align: center;
}

.iguana-principal{
    align-items: center;
    width: 100%;
}

.cajas-1{
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    width: 100%;
    height: 21,75rem;
  /*   border: solid 1px red; */
}

.info{
text-align:justify;
margin-top: 4%;
margin-left: 2rem;
/* border: solid 1px red; */
padding: 2%;
padding-top: 5%;
font-size: 1.3rem;
}

.info_img{
    padding: 3%;
}

.caracteristicas{
    background-color: #1E1A13;
    height: 21,75rem;
    color: white;
    font-size: large;
}
h2{
    text-align: center;
    padding-top: 2%;
    /* border: solid 1px red; */
    padding: 2%;
    font-size: xx-large;
}

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    justify-content:space-between;
    /* border: solid 1px red; */
    padding: 5% ;
}

.p-caracteristicas{
    font-size: xx-large;
    padding-top: 12%;
}

i{
    /* border: solid 1px red; */
    padding-left: 20%;
   
}

.iguanas{
    display: flex;
    justify-content:flex-start;
    height: 21,75rem;
/*     border: solid 1px red; */
}

.prueba{
    padding: 5%;
    width: 85%;
}

footer{
    background-color: #1E1A13;
    height: 6,37rem;
}

.p-footer{
    text-align: center;
    font-size: large;
    padding: 2%;
}


