* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    text-align: justify;
    font-weight: 300;
    font-style: normal;
    font-size: x-large;
}

header {
    display: flex;
}
header img {
    height: 15rem;
    width: 15rem;
}

header div {
    width: 100%;
    text-align: center;
}

 header p{
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
}
 
hr {
   border-color:  #0d6efd;
    background-color: #0d6efd;
    height: 3px;
}