* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style:oblique;
    font-size: normal;
}
 h1 h2{
    font-family: "Montserrat", sans-serif;
 }

header {
    display: flex;
}

header img {
    height: 15rem;
    width: 15rem;
}

header div {
    width: 100%;
    text-align: center;
}

 header p{
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    font-weight: 350;
    font-style: normal;
    font-size: x-large;
}
hr{
    border-color: #212529;
    background-color: #212529;
    height: 3px;
    width: 100%;
}
 
.hr1{
    margin-top: auto;
    margin-bottom: auto;
}

.hr2 {
    margin-bottom: auto;
    margin-top: 7%;
} 

.hr3 {
    margin: auto;
}

.portafolio {
    text-align: center;
 }

 a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400 ;
    font-style: normal;
 }

 footer{
    margin: auto;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: large;
 }


